:root {
  /* first version color palette */
  /*
  --primary-color: #1D546D;
  --secondary-color: #5F9598;
  --accent-color: #F3F4F4;
  --background-color: #061E29;
  --muted: #6b7d81;
  */

  /* second version color palette */
  --primary-color: #7f5af0;
  --secondary-color: #2cb67d;
  --accent-color: #fffffe;
  --background-color: #16161a;
  --muted: #94a1b2;
  --muted-dark: #72757e3e;
  --destructive: #a70909;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input[type="color"] {
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}

.hidden {
  display: none;
}

.header {
  text-align: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.header>div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--secondary-color);
  font-weight: 700;
  letter-spacing: .15rem;
}

.cursor {
  width: 10px;
  height: 32px;
  animation: blink 0.75s steps(1) infinite
}

@keyframes blink {

  0%,
  100% {
    background-color: var(--primary-color);
  }

  50% {
    background-color: transparent;
  }
}

.author {
  color: var(--muted);
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
}

.author a {
  color: var(--muted);
  text-decoration: none;
}

.author a:hover {
  color: var(--secondary-color);
  transition: all 0.3s ease;
}

main {
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.section-title-container {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  height: 50px;
}

.section-title {
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
}

.section-title-effect {
  letter-spacing: 0.15rem;
  position: absolute;
  top: 1.5px;
  left: 1.5px;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: 700;
  z-index: -1;
  opacity: 0.7;
}

.form-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-section form {
  border: 5px solid var(--primary-color);
  border-radius: 12px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-component {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--accent-color);
}

.form-input-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-input-container label {
  font-weight: 700;
  font-size: 1.05rem;
}

.form-input-container input[type="text"],
.form-input-container input[type="number"],
select {
  flex: 1;
  padding: 8px;
  border: 4px solid var(--muted);
  border-radius: 6px;
  font-size: 1rem;
  background-color: var(--background-color);
  color: var(--accent-color);
}

.form-input-container input[type="text"]::placeholder,
.form-input-container input[type="number"]::placeholder {
  color: var(--muted);
}

.form-input-container input[type="text"]:focus,
.form-input-container input[type="number"]:focus,
.form-input-container select:focus {
  outline: none;
  border-color: var(--secondary-color);
}

select {
  background-color: var(--background-color);
  color: var(--accent-color);
  border-radius: 10px;
  width: fit-content;
}

.size-inputs {
  display: flex;
  gap: 8px;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.size-inputs>input[type="number"],
.size-inputs>input[type="text"] {
  width: 100%;
}

select>option {
  background-color: var(--background-color);
  color: var(--accent-color);
  padding: 10px;
}

.btn {
  background-color: var(--background-color);
  color: var(--secondary-color);
  border: 4px solid var(--secondary-color);
  border-radius: 8px;
  font-size: 1rem;
  padding: 8px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.btn:disabled,
.btn[disabled] {
  border-color: var(--muted);
  color: var(--muted);
  cursor: not-allowed;
}

.btn:disabled:hover,
.btn[disabled]:hover {
  background-color: var(--background-color);
  color: var(--muted);
}

.destructive {
  border-color: var(--destructive);
  color: var(--destructive);
}

.destructive:hover {
  background-color: var(--destructive);
  color: var(--background-color);
}

.output-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.output-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.output-container button {
  width: 100%;
}

#copy-output-btn {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

#copy-output-btn:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.svg-output {
  width: 100%;
  height: auto;
}

.img-container {
  border: 5px solid var(--primary-color);
  border-radius: 12px;
  overflow-x: auto;
}

code {
  font-family: monospace;
  background-color: var(--muted-dark);
  border: 5px solid var(--secondary-color);
  padding: 12px;
  border-radius: 12px;
  color: var(--secondary-color);
  font-size: 0.9rem;
  display: block;
  white-space: pre-wrap;
  word-break: break-all;
}

@media (max-width: 800px) {
  body {
    height: auto;
  }

  main {
    width: 100%;
    flex-direction: column;
    overflow: auto;
  }

  .form-section,
  .output-section {
    width: 100%;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  main {
    width: 100%;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  main {
    width: 80%;
  }
}

@media (min-width: 1601px) {
  main {
    width: 60%;
  }
}